.Full{
    background-color: red;
    color: white;
}
.dig{
    background-color: blue;
    color: white;
}
.ver{
    background-color: green;
    color: white;
}
.bas{
    background-color: white;
    color: black;
}
.voor{
    background-color: yellow;
    color: black;
}
.Exa{
    background-color: purple;
    color: white;
}
.Ber{
    background-color: darkcyan;
    color: black;
}
.stage{
    background-color: blueviolet;
    color: white;
}
